/* src/global.css */
@import 'bootstrap/dist/css/bootstrap.min.css';
body {
    background-image: url('../pexels-philippe-donn-1169754.jpg');
    /* Replace with the actual path to your image */
    background-size: cover;
    /* Adjust as needed */
    background-position: center;
    /* Adjust as needed */
    background-repeat: no-repeat;
    /* Adjust as needed */
}
